<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>流年</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Bodo - Simple One Page Personal" name="description">
    <meta content="BdgPixel" name="author">
    <!--Fav-->
     <!-- <link href="images/favicon.ico" rel="shortcut icon"> -->
    
    <!--styles-->
    <link href="/css/indexCss/bootstrap.min.css" rel="stylesheet">
    <link href="/css/indexCss/owl.carousel.css" rel="stylesheet">
    <link href="/css/indexCss/owl.theme.css" rel="stylesheet">
    <link href="/css/indexCss/magnific-popup.css" rel="stylesheet">
    <link href="/css/indexCss/style.css" rel="stylesheet">
    <link href="/css/indexCss/responsive.css" rel="stylesheet">
    
    <!--fonts-->
    <link href='https://fonts.useso.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.useso.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascript/indexJJs/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--PRELOADER-->
    <div id="preloader">
      <div id="status">
        <img alt="logo" src="/img/indexImages/logo-big.png">
      </div>
    </div>
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
          <a href="index.html"><img alt="logo" class="logo-nav" src="/img/indexImages/logo.png"></a>
        </div>
        <!--/.LOGO END-->
      </div>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="menu-list">
            <a data-scroll="" href="#home" class="active">
              <span>流年</span>
            </a>
            <!-- <a data-scroll="" href="#about">
              <span>关于我们</span>
            </a> -->
            <a data-scroll="" href="#work">
              <span>板块</span>
            </a>
            <!-- <a data-scroll="" href="#services">
              <span>Services</span>
            </a> -->
            <!-- <a data-scroll="" href="#employement">
              <span>Employement</span>
            </a> -->
            <!-- <a data-scroll="" href="#skill">
              <span>Skills</span>
            </a> -->
            <a data-scroll="" href="#education">
              <span>精选</span>
            </a>
            <a data-scroll="" href="#testimonial">
              <span>公告</span>
            </a>
            <a data-scroll="" href="#blog">
              <span>事件</span>
            </a>
          </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
      </div>
      <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button><!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->
    
    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="wrap-hero-content">
                  <div class="hero-content">
                    <h1>流年</h1>
                    <br>
                    <span class="homeFont">All for you</span>
                  </div>
              </div>
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->



        <!--WORK-->
        <section class="grey-bg mar-tm-10" id="work">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>板块</span>
                </h3>
                <p class="content-detail">
                  4大板块，各有不同
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--PORTFOLIO IMAGE-->
                <ul class="portfolio-image">
                  <li class="col-md-6">
                    <a href="/img/indexImages/bw-1.png"><img alt="image" src="/img/indexImages/bw-1.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                           <p class="desc">有啥说啥</p>
                        </div>

                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="/img/indexImages/bw-2.png"><img alt="image" src="/img/indexImages/bw-2.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            做个学霸
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="/img/indexImages/bw-3.png"><img alt="image" src="/img/indexImages/bw-3.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            美食时刻
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="/img/indexImages/bw-4.png"><img alt="image" src="/img/indexImages/bw-4.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            二手市场
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <!--/.PORTFOLIO IMAGE END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.WORK END-->
        <hr>





       
        <!--EDUCATION-->
        <section class="grey-bg" id="education">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>精选</span>
                </h3>
                <p class="content-detail">
                  精选文章，发现精彩
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              好态度，好生活
                            </h2>
                            <p class="job">
                              Information
                            </p>
                            <p class="company">
                              University
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              好态度，好生活
                            </h2>
                            <p class="job">
                              DKV
                            </p>
                            <p class="company">
                              UNIKOM
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              好态度，好生活
                            </h2>
                            <p class="job">
                              Magister DKV 
                            </p>
                            <p class="company">
                              ITB
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              好态度，好生活
                            </h2>
                            <p class="job">
                              Typhography Magister
                            </p>
                            <p class="company">
                              Florida University
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EDUCATION END-->

        <!--TESTIMONIAL-->
        <section id="testimonial">
          <div class="container">
            <div class="row wrap-testimonial">
              <div class="col-md-10 col-md-offset-1">
                <div class="owl-carousel">
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Reza did a phenominal job setting up my a website for my product He performed the task very quickly and efficiently. We know we have the superior topical pain relief cream on the market and he has helped us communicate that message via the website he built from scratch. Thanks! ”
                      </h3>
                      <p class="people">
                        Darin Cohen - Active10
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Another successful project working with Reza. He has great design skills, is very responsive and professional. Looking forward to the next opportunity to work together. ”
                      </h3>
                      <p class="people">
                        Marko Milicevic
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Great designer! I like his sense of design, especially the color scheme. Quick turnaround. Look forward to work with him again. Thanks!! ”
                      </h3>
                      <p class="people">
                        JK Thang
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mask-testimonial"></div>
        </section>
        <!--/.TESTMONIAL END-->

        <!--BLOG-->
        <section class="grey-bg" id="blog">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="title-small-center text-center">
                  <span>事件</span>
                </h3>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <p class="content-details text-center">
                      主要事件，一网打尽
                    </p>
                  </div>
                </div>
                <!--GRID BLOG-->
                <div class="grid">
                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog-1" class="img-circle text-center" src="/img/indexImages/blog-1.png">
                      <p class="subtitle fancy">
                        <span>09/01/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Popular Design in 2015 
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                     <img alt="blog-4" class="img-circle text-center" src="/img/indexImages/blog-4.jpg">
                     <p class="subtitle fancy">
                        <span>08/20/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Just Start
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog6" class="img-circle text-center" src="/img/indexImages/blog-6.jpg">
                      <p class="subtitle fancy">
                        <span>08/11/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          The Huffington Post
                        </h3>
                      </a>
                      <p class="content-blog">
                       Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                      </p>
                    </div>
                  </div>
                  
                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog2" class="img-circle text-center" src="/img/indexImages/blog-2.jpg">
                      <p class="subtitle fancy">
                        <span>08/03/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Manuk!
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog5" class="img-circle text-center" src="/img/indexImages/blog-5.jpg">
                      <p class="subtitle fancy">
                        <span>07/26/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Do Web Designer Really Need To Know UI/UX Design and Backend Code too?
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog-3" class="img-circle text-center" src="/img/indexImages/blog-3.jpg">
                      <p class="subtitle fancy">
                        <span>08/03/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Somewhere Place
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                      </p>
                    </div>
                  </div>                  

                </div>
                <!--/.GRID BLOG END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.BLOG END-->


        
        <!--FOOTER-->
        <footer>
          <div class="footer-top">
            <ul class="socials">
              <li class="facebook">
                <a href="#" data-hover="流年">流年</a>
              </li>
              <li class="twitter">
                <a href="#" data-hover="只为">只为</a>
              </li>
              <li class="gplus">
                <a href="#" data-hover="你们">你们</a>
              </li>
            </ul>
          </div>

          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <img src="/img/indexImages/logo-bottom.png" alt="logo bottom" class="center-block" />页脚
              </div>
            </div>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>
    

    <script src="/javascript/indexJJs/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/jquery.appear.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/classie.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/masonry.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/typed.js" type="text/javascript"></script>
    <script src="/javascript/indexJJs/main.js" type="text/javascript"></script>
  </body>
</html>